@page "/new"

<PageTitle>Task Manager - New Item</PageTitle>

<Header>
  <a href="/" class="btn btn-secondary">Back</a>
</Header>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <Subtitle>New Item</Subtitle>
    <form class="bg-light p-5 border border-1 mb-5">
      <div class="form-group">
        <label class="form-label">New Task</label> 
        <input type="text" class="form-control mb-3" placeholder="New Task..." />
      </div>
      
      <div class="mb-3">
        <label class="form-label">Categories</label>
          <div class="form-group">
            <input type="checkbox" id="" class="form-check-input" />
            <label for="" class="form-check-label">Important</label>
          </div>
        </div>
      <button class="btn btn-primary">Add Task</button>
    </form>
  </div>
</div>

@code {

}
